<footer class="py-2 bg-dark fixed-bottom">
  <div class="container">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">En cas de problème veuillez contactez le support.<span class="small"><br>
                <a href="mailto:andrea.pelliccione@bluewin.ch" target="_blank">Andrea Pelliccione Support</a></span></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3 text-right small align-self-end">10 Juin 2022</div>

        </div>
  </div>
</footer>
