{% extends "base.html" %}
{% block title %} Homepage 164 {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Date buttoir du rendu projet 8 juin 2022
			</h3>
			<h3>
				Bonjour et bienvenue sur le site de la gestion d'appartement<br>
			</h3>
			<ul>
				<li class="list-item">
					Travaille effectué par Andrea Pelliccione
				</li>
			</ul>

    		</fieldset>
			<!-- APPARTEMENT 1 -->
			<div class="card mb-3">
			  <h3 class="card-header">Appartement 1 - Picsous le couscous</h3>
			  <div class="card-body" style="display: flex;margin-left: -30%;justify-content: space-around;">
				  <h5 class="card-title"></h5>
				  <h6 class="card-subtitle text-muted">Salon</h6>
				  <h6 class="card-subtitle text-muted">Salle à manger</h6>
				  <h6 class="card-subtitle text-muted">Chambre</h6>
			</div>
			<div class="card-body">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/image1.png">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/salle a manger 1.jpeg">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/chambre1.jpg">
			</div>

			<!-- APPARTEMENT 2 -->
			<div class="card mb-3">
			  <h3 class="card-header">Appartement 2 - Ninette la sifflette </h3>
			  <div class="card-body" style="display: flex;margin-left: -30%;justify-content: space-around;">
				  <h5 class="card-title"></h5>
				  <h6 class="card-subtitle text-muted">Salon</h6>
				  <h6 class="card-subtitle text-muted">Salle à manger</h6>
				  <h6 class="card-subtitle text-muted">Chambre</h6>
			</div>
			<div class="card-body">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/salon2.jpg">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/salle a manger2.jfif">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/chambre2.jfif">
			</div>
			<!-- APPARTEMENT 3 -->
			<div class="card mb-3">
			  <h3 class="card-header">Appartement 3 - Bicoque le coque</h3>
			  <div class="card-body" style="display: flex;margin-left: -30%;justify-content: space-around;">
				  <h5 class="card-title"></h5>
				  <h6 class="card-subtitle text-muted">Salon</h6>
				  <h6 class="card-subtitle text-muted">Salle à manger</h6>
				  <h6 class="card-subtitle text-muted">Chambre</h6>
			</div>
			<div class="card-body">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/Salon3.jpg">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/salle a manger3.jfif">
				<img style="height:30%;width:33%;" src="../static/images/Img_Appart/Chambre3.jpg">
			</div>
		</div>
	</div>
</div>
{% endblock %}
